// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

html,
body {
  color: $default-color;
}

html {
  overflow-y: scroll;
}

body {
  font-family: $serif-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

/**
 * Links
 */

a {
  color: $link-base-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $default-color;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

/**
 * Site header
 */

.site-header {
  border: none;
  box-shadow: 0 2px 2px -2px $shadow-color;
}

.site-title {
  @include transition(all 0.2s ease-out);
  color: $default-color;
  font-family: $sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 0;
  float: left;
  text-transform: lowercase;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &,
  &:visited {
    color: $default-color;
  }
}

.site-nav {
  border: none;
  top: 0;
}

.nav-icon {
  float: right;
  width: 24px;
  height: 24px;
  line-height: 0;
  padding-top: 16px;
}

/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1 0 auto;
}

.post {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;

    &:hover .post-line,
    &:focus .post-line {
      width: 5rem;
    }

    &:visited {
      color: $default-color;
    }

    &:last-child {
      border: 0;
    }
  }

  &-meta {
    color: $default-tint;
    font-family: $serif-secondary;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  &-item-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0.5rem 0;
  }

  &-item-line {
    @include transition(all 0.3s ease-out);
    border-top: 0.2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  &-excerpt {
    margin-top: 1rem;
  }
}

/**
 * Posts
 */

.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 2.4rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  h2 {
    padding: 1rem 0 0;
  }

  p {
    margin: 0 0 1rem;
    // text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  img.round {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 3rem;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}

/**
 * Pagination
 */

.paginator {
  border-top: 0.5px solid $grey-2;
  font-family: $serif-secondary;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  .top {
    @include transition(all 0.3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all 0.3s ease-out);
    color: $default-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

/**
 * Footer
 */

footer {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  .social-links {
    margin-bottom: 1rem;
  }

  span {
    color: $default-color;
    font-size: 0.8rem;
  }

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}
